meta(http-equiv='content-type' content='text/html; charset=UTF-8')
meta(charset='utf-8')
title= title
meta(name='generator' content='Bootply')
meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css' rel='stylesheet')
link(href='/css/styles.css' rel='stylesheet')
header.navbar.navbar-bright.fixed-top.navbar-expand-md(role='banner')
  .container
    .navbar-header
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='.navbar-collapse')
      span.sr-only Toggle navigation
    a.navbar-brand(href='/') Home
    nav.collapse.navbar-collapse(role='navigation')
      ul.nav.navbar-nav
        each val in nav
          li.nav-item
            a.nav-link(href= val.link)= val.title
      ul.nav.ml-auto.navbar-nav
        li.dropdown.nav-item
          a.dropdown-toggle.nav-link(href='#' data-toggle='dropdown')
            i.glyphicon.glyphicon-search
        ul.dropdown-menu(style='padding:12px;')
          form.form-inline
            button.btn.btn-secondary.float-right(type='submit')
              i.glyphicon.glyphicon-search
            input.form-control.float-left(type='text' placeholder='Search')
#masthead
  .container
    .row
      .col-lg-7
        h1= title
          p.lead
      .col-lg-5
        .card.bg-light.card-body.mb-3.well-lg
          .row
            .col-md-12      
  //  /cont 
  .container
    .row
      .col-lg-12
        .top-spacer
//  /cont 
.container
  .row
    .col-lg-12
      .panel
        .card-body
          // /stories
          .row
            br
            .col-lg-2.col-md-3.text-center
              a.story-title(href='#')
                img(alt src= book.details.image_url style='width:100px;height:100px')
            .col-lg-10.col-md-9
              h3= book.title
              .row
                .col-9
                  h4
                    span.badge.badge-dark= book.author
                  h4
                .col-3
              br
              p !{book.details.description}
              br
          hr
          // /stories
          a.btn.btn-primary.float-xs-right.btnNext(href='/')
            | More 
            i.glyphicon.glyphicon-chevron-right
    // /col-12
hr
.container#footer
  .row
    .col.col-sm-12
      h1 Follow Us
      .btn-group
        a.btn.btn-twitter.btn-lg(href='#')
          i.icon-twitter.icon-large
          |  Twitter
        a.btn.btn-facebook.btn-lg(href='#')
          i.icon-facebook.icon-large
          |  Facebook
        a.btn.btn-google-plus.btn-lg(href='#')
          i.icon-google-plus.icon-large
          |  Google+
hr
hr
footer
  .container
    .row
      .col-sm-6
        ul.list-inline
          li
            i.icon-facebook.icon-2x
          li
            i.icon-twitter.icon-2x
          li
            i.icon-google-plus.icon-2x
          li
            i.icon-pinterest.icon-2x
      .col-sm-6
        p.float-xs-right
          | Built with 
          i.icon-heart-empty
          |  at 
          a(href='http://www.bootply.com') Bootply
//  script references 
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')